* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  margin: 0; 
  height: 100%;
  max-width:100%;
  overflow:hidden;
}

header{
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  -webkit-app-region: drag;
}

.option {
  padding: 10px 25px;
  font-size: 40px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.option:hover {
  background: red;
}

#node-icon{
  position: absolute;
  z-index: 2;
  height: 16px;
  width: 16px;
}

#mapdiv{
  user-select: none;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  display: none;
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

#map{
  min-width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#no-map-info {
  margin-top: 10vh;
  display: none;
  justify-content: center;
  align-items: center;
}

#no-map-info-content{
  flex: 0 0 300px;
  padding: 10px;
  background: slategray;
  color: white;
  border-radius: 5px;
}

#no-project-info {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#no-project-info-content{
  flex: 0 0 300px;
  padding: 10px;
  background: slategray;
  color: white;
  border-radius: 5px;
}

#no-project-info-content h1{
  padding-bottom: 10px;
  font-weight: bold;
}