* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  }
  
  html,body {
  overflow:hidden;
  color:#FFF;
  background-color:#2e2c29;
  height:100vh;
  --scrollbarbg:#CFD8DC;
  --thumbbg:#90A4AE;
  user-select:none;
  margin:0;
  }

  #titlebar{
    user-select: auto;
  }
  
  header {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  -webkit-app-region:drag;
  }
  
  .a ul {
  list-style-type:none;
  }
  
  .a ul > li {
  position: relative;
  margin-left:10px;
  height: 20px;
  z-index: 12;
  white-space: nowrap;
  border-width: 0 0 0 0;
  border-style: solid;
  border-color: rgb(125, 128, 128);
  cursor: pointer;
  }
  
  .option {
  font-size:40px;
  cursor:pointer;
  -webkit-app-region:no-drag;
  padding:10px 25px;
  }
  
  .option:hover {
  background:red;
  }
  
  .content {
  display:flex;
  position:relative;
  height:100%;
  }
  
  .sub-tiles{
    z-index: 25;
  }
  
  .a #hierarchycontent {
  width:calc(100% - 10px);
  height:calc(100% - 10px);
  overflow: hidden;
  margin:5px;
  }

  .a #hierarchylist-container{
    width:calc(100% - 10px);
    height:calc(100% - 40px);
    overflow:auto;
    margin:5px;
  }
  
  .gutter {
  width:10px;
  height:100vh;
  background:#363636;
  z-index:9;
  display:block;
  border-left:1px solid #242424;
  border-right:1px solid #242424;
  }
  
  .gutter.gutter-horizontal {
  cursor:ew-resize;
  }
  
  #notification {
  position:fixed;
  bottom:20px;
  left:20px;
  width:200px;
  border-radius:5px;
  background-color:#FFF;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
  padding:20px;
  }
  
  .hidden {
  display:none;
  }
  
  .node-highlight {
  background-color:#FFF;
  }

  #nodecontainers {
    position: relative;
    width: 100%;
    height: 100%;
  }

/* overlay*/

button {
  background: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 3px;
}

#donatebtn{
  padding: 10px;
  width: 100px;
  cursor: pointer;
}
#donatebtn:hover{
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}

#overlay-2 {
  display: none;
  position: fixed;
  width: 500px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 40;
}

#popup-2 {
  top: 100px;
  max-width: 600px;
  width: 80%;
  padding: 20px;
  position: relative;
  background: #202020;
  margin: 20px auto;
  border-radius: 5px;  
}

#popup-2 .container {
  margin-bottom: 1em;
  margin-top: 1em;
}

#popup-2 .basebtn {
  min-width: 100px;
}

#overlay {
  position: fixed;
  height: 100%; 
  width: 100%;
  right: 0;  
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  z-index: 15;
  text-align: center;
}

#popup {
  top: 100px;
  max-width: 600px;
  width: 80%;
  max-height: 300px;
  padding: 20px;
  position: relative;
  background: rgb(94, 94, 94);
  margin: 20px auto;
  border-radius: 5px;
  
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
}

.basebtn {
  color: black;
  border: none;
  border-radius: 2px;
  cursor: pointer;
    transition: 0.1s;
}
.basebtn:active {
     outline:none;
     box-shadow: 0 0 2pt 1pt grey;
     transform: translateY(2px)
}
.basebtn:focus {
     outline:none;
}

select{
    border-radius: 2px;
    transition: 0.1s;
}
select:focus{
    border-radius: 2px 2px 0 0;
}

/* end overlay*/


  #searchtooltip{
    position: absolute;
    background-color: black;
    top: 5px;
    z-index: 25;
  }

  #searchtooltip .basebtn{
    font-size: smaller;
    height: auto;
    color: black;
  }
  
  #highlight {
  background-color:var(--main-button-color);
  color: #000;
  }
  
  #hierarchylist-container {
  display:flex;
  position: relative;
  }
  
  #hierarchylist-container .hierarchylist-bar {
    position: absolute;
    background-image: url(./images/Hirearchybar.png);
    background-repeat: repeat-y;
    width: 16px;
    top: 0;
    background-blend-mode:overlay;
    z-index: 11;
  }

  #hierarchylist-container .hierarchylist-open {
    position: absolute;
    width: 12px;
    left: -12px;
    top: 0;
    z-index: 12;
    background-size: contain;
  }

  #hierarchylist-container .hierarchylist-close {
    position: absolute;
    width: 12px;
    left: -12px;
    top: 0;
    z-index: 12;
    background-size: contain;
  }
  
  #hierarchylist-container .hierarchylist-open:before {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: left;
    margin-right: 5px;
  }
  #hierarchylist-container .hierarchylist-close:before {
    content: "\2212";
    color: white;
    font-weight: bold;
    float: left;
    margin-right: 5px;
  }

  #hierarchylist-container .hierarchylist-open:hover {
    background-color: rgb(10, 10, 10);
  }
  #hierarchylist-container .hierarchylist-close:hover {
    background-color: rgb(10, 10, 10);
  }
  
  #hierarchycontent .btn-group {
  height: 32px;
  display: flex;
  position: relative;
  }
  
  #hierarchycontent .btn-group button {
  width: 32px;
  height: 100%;
  overflow:auto;
  outline:none;
  background-color:var(--main-button-color);;
  border:1px solid black;
  color:#FFF;
  cursor:pointer;
  float:left;
  padding:0 5px;
  min-width: 32px;
  }

  #hierarchycontent .btn-group #btn-newdoc:hover {
  background-color:var(--main-button-highlight);;
  }


  #hierarchycontent .btn-group #btn-deletedoc {
  background-color:var(--neg-button-color);
  border:1px solid black;
  }

  
  #hierarchycontent .btn-group #searchpanel {
    background-color: rgb(20, 20, 20);
    border:1px solid black;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    margin-left: 10px;
    padding: 5px;
    outline:none;
  }

  #searchcount {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: small;
    color: rgba(255, 255, 255, 0.247);
  }
  
  #hierarchycontent .btn-group #btn-deletedoc:hover {
  background-color:var(--neg-button-highlight);
  }
  
  #texteditor-menu .btn-group {
  margin:5px;
  }
  
  #texteditor-menu .btn-group button {
  outline:none;
  background-color:var(--main-button-color);;
  border:1px solid green;
  color:#FFF;
  cursor:pointer;
  float:left;
  padding:0 5px;
  }
  
  #textcontainer {
  height:100%;
  min-height:100%;
  overflow:visible;
  }

  #toolbox-tab{
    display: none;
  }

  #toolboxeditor-title-holder {
    width:100%;
    padding:5px;
    display: flex;
  }

  #toolboxeditor-title {
    flex: 1;
    border:none;
    outline:none;
    font-size: 24px; 
    overflow: hidden;
  }
  
  #texteditor-title-holder {
  width:100%;
  padding:5px;
  display: flex;
  }

  #texteditor-title {
    flex: 1;
    border:none;
    outline:none;
    font-size: 24px; 
    overflow: hidden;
  }

  #btn-tab-documents{
    width: 50px;
    height: 50px;
    padding: 0;
    outline:none;
    background-color:var(--main-button-color);
    border:1px solid black;
    color:#FFF;
    cursor:pointer;
  }

  #btn-tab-documents img{
    height: 100%;
  }
  #btn-tab-documents:hover{
    background-color:var(--main-button-highlight);
  }

  #btn-tab-toolbox{
    width: 50px;
    height: 50px;
    padding: 0;
    outline:none;
    background-color:var(--main-button-color);
    border:1px solid black;
    color:#FFF;
    cursor:pointer;
  }

  #btn-tab-toolbox img{
    height: 100%;
  }
  #btn-tab-toolbox:hover{
    background-color:var(--main-button-highlight);
  }



  #texteditor {
  user-select:auto;
  resize:none;
  height:calc(100% - 55px);
  width:calc(100% - 10px);
  overflow-y:scroll;
  overflow-x:hidden;
  outline:none;
  background-color:#949393;
  color:#000;
  font-size:7px;
  margin:5px;
  }

  .quill-doclink{
    padding: 2px;
    background-color: rgba(88, 88, 88, 0.719);
    border-radius: 2px;
    background-blend-mode: overlay;
    color: white;
    border: none;
  }

  .quill-doclink:hover{
    background-color: rgba(51, 51, 51, 0.719);
  }
  
  .node-icon {
    -webkit-filter: brightness(100%) sepia(1) var(--node-token-hue) var(--node-token-saturate) var(--node-token-brightness);
      
    pointer-events:auto;
    width:64px;
    height:64px;
    background-size:100% 100%;
    background-image:url(./images/Tokens/home.png);
    background-color:transparent;
    border:none;
    outline:none;
    position:absolute;
    z-index:4;
    cursor: grab;
  }

  .node-icon:active {
    cursor: grabbing;
  }

  .node-lock-false{

  }

  .node-lock-true{
    cursor: help;
  }

  .node-compass {
    pointer-events:none;
    width:80px;
    height:80px;
    background-size:100% 100%;
    background-image:url(./images/compass.png);
    background-color:transparent;    
    border:none;
    outline:none;
    position:absolute;
    top: -8px;
    left: -8px;
    display: none;
  }

  .node-compass-show{
    display: block;
  }
  
  #mapdiv {
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
  display:none;
  position:absolute;
  }
  
  #canvaswindow{
    position: absolute;
    z-index:2;
    top: 0;
    left: 0;
  }
  

  #map {
  position: relative;
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
  z-index:1;
  top: 0;
  left: 0;
  }
  
  #no-map-info {
  margin-top:10vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  }
  
  #no-map-info-content {
  flex:0 0 300px;
  background-color:rgba(0,0,0,0.185);
  background-blend-mode:overlay;
  border-radius:5px;
  padding:10px;
  }
  
  #backgroundBtn {
  background-color:rgba(0,0,0,0.185);
  color:#FFF;
  background-blend-mode:overlay;
  border:none;
  outline:none;
  cursor: pointer;
  }

  #innertoolbar{
    border: none;
    padding: 0;
  }

  .ql-picker-options {
    left:calc(-152px + 28px);
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content:'14';
  font-size:14px!important;
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="16px"]::before {
  content:'16';
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content:'16';
  font-size:16px!important;
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="18px"]::before {
  content:'18';
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content:'18';
  font-size:18px!important;
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="20px"]::before {
  content:'20';
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content:'20';
  font-size:20px!important;
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="26px"]::before {
  content:'26';
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="26px"]::before {
  content:'26';
  font-size:26px!important;
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="32px"]::before {
  content:'32';
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
  content:'32';
  font-size:32px!important;
  }
  
  .a,.c {
  background-color:#202020;
  background-blend-mode:overlay;
  z-index:10;
  display:block;
  }
  .b{
    position: relative;
  }
  
  .b,.hierarchylist-items {
  width:100%;
  margin-left: 5px;
  }
  
  #hierarchycontent .btn-group button:not(:last-child),#texteditor-menu .btn-group button:not(:last-child) {
  border-right:none;
  }
  
  #hierarchycontent .btn-group:after,#texteditor-menu .btn-group:after {
  content:"";
  clear:both;
  display:table;
  }
  
  #hierarchycontent .btn-group button:hover,#texteditor-menu .btn-group button:hover {
  background-color:var(--neg-button-highlight);
  }
  
  .ql-snow .ql-picker.ql-size .ql-picker-label::before,.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="14px"]::before {
  content:'14';
  }

  .window-title{
    margin-right: 0%;
    margin-left: auto;
  }

  .loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgba(128, 128, 128, 0);
    border-bottom: 5px solid rgb(255, 255, 255);
    border-left: 5px solid rgba(255, 255, 255, 0);
    margin-top: 7px;
    height: 16px;
    width: 16px;
    justify-content: center;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }





  /*
  EDITOR IMPORTED
  */

  .container{
    padding: 5px;
    border: 1px solid rgb(141, 141, 141);
    width: 100%;
}

.container h1{
    margin: 15px 0;
    font-size: 20px;
}
.container p{
    margin: 2px 0;
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.toolbarline{
    display: flex; 
    align-items: center;
}

/*NODE TOOLS */



#nodeiconholder{
  display: none;
  height: 64px;
  width: 64px;
  background-color: rgb(37, 37, 37);
  padding: 5px;
  position: relative;
}

#nodeiconcontrols .basebtn{
  width: 160px;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu div .deletenode{
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(80, 80, 80, 0.376);
  border-radius: 8px;
  padding: 8px;
}

.scrollmenu div {
  position: relative;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}

.scrollmenu div .nodedisplay:active {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

.scrollmenu div .deletenode:active {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

.scrollmenu div .nodedisplay img {
  -webkit-filter: sepia(1) var(--node-token-hue) var(--node-token-saturate) var(--node-token-brightness);
  background-color:transparent;
  height: 100px;
  width: 100px;
  user-select: none;
}

.scrollmenu div .nodedisplay:hover {
  background-color: #777;
}

.scrollmenu div .deletenode:hover {
  background-color: rgb(134, 94, 94);
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main-button-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content ul {
  padding: 0;
  margin: 0;
}

/* Links inside the dropdown */
.dropdown-content li {
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  user-select:none;
}

.dropdown-content li img{
  width: 32px;
}


/* Change color of dropdown links on hover */
.dropdown-content li:hover {
  background-color: var(--main-button-highlight);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*END NODE TOOLS*/

#zonesplinelist{
    width: 40%;
    margin: 0 5px 0 0;
    
    max-height: 300px;
}

#highlight {
  background-color:var(--main-button-color);
  color: #000;
}



.hiddenoptions{
  display: none;
}

.displayhiddenoptions{
  display: inline-block;
}

#drawinglist{
    list-style-type: none;
    white-space: nowrap;
    overflow: auto;
    height: calc(100% - 30px);
    margin: 5px;
    background-color: #292727;
    border: 2px solid rgb(54, 54, 54);
    padding-inline-start: 20px;
}

#zonetoolbar{
    border-left: 2px solid rgb(54, 54, 54);
    padding: 0 5px 0 0;
    width: 60%;
    max-height: 300px;
    min-height: 300px;
    overflow: hidden;
}

#splinecolorbtn{
    width: 32px;
    margin: 5px;
}

#bgcolorbtn{
    width: 32px;
    margin: 5px;
}

#deletebtn{
  width: 100%;
  margin: 5px;
}

#editor-container{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#rangeinput{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 0 10px 0;
}

#zone-display{
    width: 100%;
}

#node-display{
    width: 100%;
}

.basebtn{    
    height: 20px;
    background-color: var(--main-button-color);
    user-select: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.container input[type=range] {
  height: 38px;
  -webkit-appearance: none;
  background-color: transparent;
  margin: 0 0;
  width: 100%;
}
.container input[type=range]:focus {
  outline: none;
}
.container input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: var(--main-button-color);
  border-radius: 5px;
  border: 1px solid #000000;
}
.container input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
.container input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--main-button-color);
}
.container input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: var(--main-button-color);
  border-radius: 1px;
  border: 1px solid #000000;
}
.container input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 1px;
  background: #FFFFFF;
  cursor: pointer;
}
.container input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.container input[type=range]::-ms-fill-lower {
  background: var(--main-button-color);
  border: 1px solid #000000;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
.container input[type=range]::-ms-fill-upper {
  background: var(--main-button-color);
  border: 1px solid #000000;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
.container input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
.container input[type=range]:focus::-ms-fill-lower {
  background: var(--main-button-color);
}
.container input[type=range]:focus::-ms-fill-upper {
  background: var(--main-button-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke; 
}

.greyout{
    pointer-events: none;
    background-color: #292727;
    color: #8b8b8b;
    user-select: none;
}

.greyout .basebtn{
    background-color: #535353;
}

.greyout input[type=range]::-webkit-slider-runnable-track {
  background: #4e4b4d4b;
}
.greyout input[type=range]::-webkit-slider-thumb {
  background: #616161;
}
.greyout input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4e4b4d4b;
}
.greyout input[type=range]::-moz-range-track {
  background: #4e4b4d4b;
}
.greyout input[type=range]::-moz-range-thumb {
  background: #616161;
}

.greyout input[type=range]::-ms-fill-lower {
  background: #4e4b4d4b;
}
.greyout input[type=range]::-ms-fill-upper {
  background: #4e4b4d4b;
}
.greyout input[type=range]::-ms-thumb {
  background: #616161;
}
.greyout input[type=range]:focus::-ms-fill-lower {
  background: #4e4b4d4b;
}
.greyout input[type=range]:focus::-ms-fill-upper {
  background: #4e4b4d4b;
}

/* Handle */
.greyout ::-webkit-scrollbar-thumb {
    background: rgb(94, 94, 94);
}



.holder{
    display: flex;
    position: relative;
}
  
.holder .tooltiptext {
visibility: hidden;
background-color: rgb(49, 49, 49);
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
width: 200px;
position: absolute;
z-index: 1;
left: 50%;
margin-left: -100px;
}

.holder:hover .tooltiptext {
visibility: visible;
}




.sp-container{
    background-color: #141413;
    color: white;
}

.sp-original-.container input-container{
    display: flex;
}

.sp-colorize-container{
    width: 60px;
}